/* ---- STRUCTURE ---- */

/* height system to have scrolly panels */

html,
body,
.container-fluid{
    height: 100%;
    padding: 0px;
    min-width: 1000px;
}

.main-content{
    min-height: 400px;
    /* Fallback value for old browsers */
    height: 85%;
    height: calc(100vh - 149px);
}

header {
  width: 100%;
  height: 149px;
  display: table;
}

header nav, #hero-intro {
  display: table-row;
}

header nav div, #hero-intro div{
  display:table-cell;
  vertical-align: middle;
}

header nav div {
  height: 90px;
}

#hero-intro h2{
    margin: 0;
}

#left-panels,
#filters,
#projects,
#map-container,
#map{
    height: 100%;
}

#left-panels {
   margin: 0px;
   padding: 0px;
}

#project_panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1000;
}

#project_panel > div {
   overflow: auto;
   width: 100%;
   background-color: white;
   height: 100%;
} 

#project_panel .close {
  margin-right: 3px;
}

#project_data {
  padding: 15px;
}

#project_data label, p {
  margin-bottom: 0px;
  margin-top: 5px;
}

#project_data h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

#project_data #keywords {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}

#project_data .glyphicon {
  margin-right: 8px;
}

#project_data div span {
  margin-right: 20px;
}

#project_data h3 a {
   padding-right: 18px;
   background: transparent url(../img/Icon_External_Link.png) no-repeat center right;
}

#project_data #contact_info #contact_address {
  width: 99%;
  display: inline-flex;
}

#project_data #contact_info #contact_address div {
  float: right;
}

#input-map {
  height: 500px;
}

#filters,
#projects {
    overflow-y: scroll;
}

/* managing sections space */

nav{
    padding: 1em 0 1em 0;
}

#submit-form {
    padding: 1em 3em 1em 3em;
}

#about,
#data-policy{
    padding: 1em 3em 3em 3em;
}
/* ----- MODULES ----- */

/* buttons style for links */
nav a {
    padding: .3em .9em .3em .9em;
    border-radius: 20px;
    margin: .4% .2% 0% .2%;
    float: right;
}

/* explanations in form */
.well {
    padding: 1.5em;
    background-color: #edf0f4;
    border: 1px solid #E2E3E4;
    border-radius: 4px;
}

/* more space above projects & filters sidebar */
#filters,
#projects{
    padding-top: 1em;
}

/* more space below search box */
.input-group {
    margin-bottom: 2em;
}

/* projects summary: reset margins and give space */
#projects h2{
    margin: 0;
    padding-bottom: .5em;
}

/* each project stands for itself */
#projects li {
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 0.5em;
    /* padding-bottom: 0.1em; */
}

/* more space within form components: fieldset block and header (legend) */
fieldset{
        margin-top: 3em;
}

legend{
    padding-bottom: 0.5em;
}

legend i{
    padding-right:0.5em;
}

/* search button discard contents */

#searchclear {
    position:absolute;
    right: 60px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:20px;
    cursor:pointer;
    color:#ccc;
    z-index:3;
    margin-top: 15px;
}

/* ----- TYPOGRAPHY ----- */

body{
    font-family: 'Open Sans', sans-serif;
}

.well{
    font-weight:300;

}

#hero-intro,
/* #projects, */
#projects h2{
    text-align: center;
}

a:hover{
    text-decoration: none;
}

/* ----- COLOR SCHEME -----

As the map is the bigger component within the page, it sets the ambient.
Based on the sea color (blue http://www.colorhexa.com/d8e1ee) we work a palette
from there: nav and hero sections are a shade variation of the blue sea.

*/

nav{
    background-color: #36537d;
}

body{
    background-color: #f3f3f3;
}

#hero-intro{
    background-color: #486fa6;
}

#about,
#data-policy,
#filters,
#projects{
    background-color: white;
}

#map-container{
    background-color: #d8e1ee;
}

#submit-form{
    background-color: white;
}

header{
    color: white;
}

a {
    color:#00a2da;
}

a:hover{
    color:#FE8433;
}

nav a{
    background-color: #192639;
    color: white;
}

nav a:hover{
    background-color: #486fa6;
    color: white;
}

nav a.current{
    background-color: #36537d;
}

.lead-btn{
    background-color: #FD8D3C;
}

.lead-btn:hover{
    background-color: #fd6d3c;
}

.orange{
    color:#FE8433;
}
.light-blue{
    color:#00A1DC;
}
.blue{
    color:#0067AB;
}
.light-grey{
    color:#e2e3e4;
}











/* TODO */


.feature{
    height:300px;
    background-color: #00a2da;
    padding:24px;
}


/* Forms */

.form-control {
    display: block;
    width: 100%;
    height:48px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #edf0f4;
    border-radius: 4px;
    box-shadow: none!important;
    margin-bottom:16px;
}

.btn-default {
    display: block;
    width: 100%;
    min-width: 50px;
    height:48px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #edf0f4;
    border-radius: 4px;
    box-shadow: none!important;
    margin-bottom:16px;
}

.form-horizontal .control-label {
    text-align: right;
    font-weight: 400;
}

/* Buttons */

.btn-primary {
    color: #fff;
    background-color: #FE8433;
    border-color:#FE8433;
    padding:10px 24px;
    border-radius: 24px;
    margin-top: 20px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #EF7430;
    border-color: #EF7430;
}

.btn-about {
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff;
    padding:10px 14px;
    border-radius:24px;
}

.btn-about:hover,
.btn-about:focus,
.btn-about:active,
.btn-about.active,
.open .dropdown-toggle.btn-about {
    color: #fff;
    background-color: #FE8433;
    border-color: #00A1DC;
}
