body {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight:300;
  color:#636466;
  background-color: #E2E3E4;
  padding:0!important;
}
a {
  color:#00a2da;
  font-weight:500;
}
a:hover{
  color:#FE8433;
  text-decoration: none;
}

p{
  line-height: 24px;
}

h1{
  font-weight: 700;
  color:#fff;
}
h2{
  font-weight: 100;
  font-size: 24px;
  margin-bottom:36px;
  color:#636466;
}

legend {
  display: block;
  color:#636466;
  width: 100%;
  padding-bottom: 8px;
  padding-top:60px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend i{
  padding-right:16px;
}

/* Colors */

.orange{
  color:#FE8433;
}
.light-blue{
  color:#00A1DC;
}
.blue{
  color:#0067AB;
}
.light-grey{
  color:#e2e3e4;
}

/* Sections */

.page-header{
  margin:0;
}

.container {
  background:#fff;
  border-top-left-radius: 24px;
  -moz-border-top-left-radius: 24px;
  -webkit-border-top-left-radius: 24px;
  -o-border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  -moz-border-top-right-radius: 24px;
  -webkit-border-top-right-radius: 24px;
  -o-border-top-right-radius: 24px;
  margin-top:-160px;
  padding:24px 36px 72px 36px;
}

.feature{
  height:300px;
  background-color: #00a2da;
  padding:24px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #edf0f4;
  border: 2px solid #E2E3E4;
  border-radius: 4px;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.footer{
  background-image: url('../img/grey_bg.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index:1;
  height:240px;
  padding-top: 20px;
  padding-right: 48px;
}

.Site {
/*
  display: flex;
  min-height: 100vh;
  flex-direction: column;
*/
  width: 100%;
}

.Site-content {
  width: 960px;
  max-width: none !important;
}

/* Forms */

.form-control {
  display: block;
  width: 100%;
  height:48px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #edf0f4;
  border-radius: 4px;
  box-shadow: none!important;
  margin-bottom:16px;
}

.btn-default {
  display: block;
  width: 100%;
  min-width: 50px;
  height:48px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #edf0f4;
  border-radius: 4px;
  box-shadow: none!important;
  margin-bottom:16px;
}

.form-horizontal .control-label {
  text-align: right;
  font-weight: 400;
}

/* Buttons */

.btn-primary {
  color: #fff;
  background-color: #FE8433;
  border-color:#FE8433;
  padding:10px 24px;
  border-radius: 24px;
  margin-top: 20px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #EF7430;
  border-color: #EF7430;
}

.btn-about {
  color: #fff;
  background-color: transparent;
  border: solid 2px #fff;
  padding:10px 14px;
  border-radius:24px;
}

.btn-about:hover,
.btn-about:focus,
.btn-about:active,
.btn-about.active,
.open .dropdown-toggle.btn-about {
  color: #fff;
  background-color: #FE8433;
  border-color: #00A1DC;
}

/* ETC */

#browse-map {
  height: 600px;
}

#browse-form {
  height: 600px;
  overflow-y: scroll;
}

#input-map {
  height: 500px;
}

/* .modal needs a higher z-index because of the cartodb logo */
.modal {
	z-index: 1000009;
}

.aright {
    text-align: right;
}

.acenter {
    text-align: center;
}

.add_project {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

#searchclear {
    position:absolute;
    right: 60px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:20px;
    cursor:pointer;
    color:#ccc;
    z-index:3;
    margin-top: 15px;
}

.footer-menu {
    margin-bottom: 48px;
}

.footer-menu ul {
    margin-top: 10px;
    padding-left: 15px;
}

.footer-menu li {
    float: none;
    margin-bottom: 10px;
    font-size: 13px;
    text-transform: uppercase;
}

.footer-menu a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-weight:600 !important;      
}

.footer-logo {
    margin-top: 10px;
}
